<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LocalRootPath" value="E:\Census Data" />
    <add key="SchemaOutputPath" value="F:\Output" />
    <add key="UseFTP" value="False" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=ANTHONY-PC;Initial Catalog=RawCensusData;Integrated Security=true;MultipleActiveResultSets=True;MultiSubnetFailover=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>