<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DefaultDataSource" value="ANTHONY-PC" />
    <add key="DefaultCatalog" value="RawCensusData" />
    <add key="DefaultSchema" value="dbo" />
    <add key="DefaultNamespace" value="Generated" />
    <add key="LocalRootPath" value="E:\Census Data" />
    <add key="OutputPath" value="F:\Output" />
    <add key="UseFTP" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SSISProjectFilePath"
         value="C:\Users\Anthony\Documents\Visual Studio 2013\Projects\CensusDataIntegration\CensusDataIntegration\bin\Development" />
    <add key="SSISPackageFilePath"
         value="C:\Users\Anthony\Documents\Visual Studio 2013\Projects\CensusDataIntegration\CensusDataIntegration" />
    <add key="SSISProjectFileName" value="CensusDataIntegration" />
    <add key="SSISPackageFileName" value="CensusDataPackage" />
    <add key="SSISProjectFileExtension" value="ispac" />
    <add key="SSISPackageFileExtension" value="dtsx" />
    <add key="SSISConnectionManagerExtension" value="conmgr" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=ANTHONY-PC;Initial Catalog=RawCensusData;Integrated Security=true;MultipleActiveResultSets=True;MultiSubnetFailover=true;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>